body ,ul,li,p,h3{margin: 0;padding:0;}
#pictures {width: 1080px; margin: 100px auto 0;}
#pictures:before{content:"";display:table;}
#pictures span{display:block;width:100px;margin:8px auto;font-size:20px;clear:both;}
li {list-style: none; float: left; margin-right: 10px; word-break:break-all;}
li div {border: 1px solid #000; padding: 10px; margin-bottom: 10px;background:#f4f4f4;overflow:hidden;}
li div img { width:100%;display: block;margin-bottom:10px;}
#buttons{width:278px;position:absolute;top:20px;left:calc(50% - 140px);}
#pictures h3{background:#eee;text-align:center;line-height:28px;width:80px;height:28px;font-size:14px;float:left;margin-right:10px;border:1px solid #345;font-family:Times;cursor:pointer;border-radius:2px;}
#pictures h3:nth-of-type(1){background:#456;}